[flake8]
min_python_version = 3.7.0
max-line-length = 88
ban-relative-imports = True
# flake8-use-fstring: https://github.com/MichaelKim0407/flake8-use-fstring#--percent-greedy-and---format-greedy
format-greedy = 1
inline-quotes = double
enable-extensions = TC, TC1
type-checking-strict = true
eradicate-whitelist-extend = ^-.*;
extend-ignore =
    # E203: Whitespace before ':' (pycqa/pycodestyle#373)
    E203,
    # E501: Line too long
    E501,
    # SIM106: Handle error-cases first
    SIM106,
    # ANN101: Missing type annotation for self in method
    ANN101,
    # ANN102: Missing type annotation for cls in classmethod
    ANN102,
per-file-ignores =
    tests/test_*:ANN201
    tests/**/test_*:ANN201
extend-exclude =
    src/poetry/core/_vendor/*
    tests/fixtures/*
    tests/**/fixtures/*
